.Chat-main
  .Right-Header
    .Right-Header__group
      .Right-Header__group-name
        グループ名
      %ul.Right-Header__group-member
        Member：
        %li.Right-Header__user-name
          ユーザー名
    = link_to '#', class: "Right-Header__edit-button" do
      Edit
  .Message-list
    .Message-box
      .Message-username-date
        .Message-username-date__username
          ユーザー名
        .Message-username-date__date
          2019/11/20(Wed) 17:43:01
      .Message
        %p.Message__text
          おはよう！
    .Message-box
      .Message-username-date
        .Message-username-date__username
          ユーザー名
        .Message-username-date__date
          2019/11/20(Wed) 17:43:01
      .Message
        %p.Message__text
          おはよう！
  .Footer
    %form.Form
      .Form__contents
        %input.Form__text{type: 'text', placeholder: 'type a message'}
        %label.Form__image
          = icon('far', 'image', class: 'Form__icon')
          %input.Hidden{type: 'file'}
      %input.Form__send{type: 'submit', value: 'Send'}

